### import relevant libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
sb.set()

### import train.csv

In [2]:
train = pd.read_csv('train.csv')

### get data types (dtypes)

In [3]:
print(train.dtypes)

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [4]:
trainints = pd.DataFrame(train.select_dtypes(include='int64'))
trainints.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,8450,7,5,2003,2003,706,0,150,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,9600,6,8,1976,1976,978,0,284,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,11250,7,5,2001,2002,486,0,434,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,9550,7,5,1915,1970,216,0,540,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,14260,8,5,2000,2000,655,0,490,...,192,84,0,0,0,0,0,12,2008,250000

In [5]:
realtrainints = trainints.drop(columns = ['MSSubClass', 'OverallQual', 'OverallCond'])
realtrainints.head()

,Id,LotArea,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,2ndFlrSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,8450,2003,2003,706,0,150,856,856,854,...,0,61,0,0,0,0,0,2,2008,208500
1,2,9600,1976,1976,978,0,284,1262,1262,0,...,298,0,0,0,0,0,0,5,2007,181500
2,3,11250,2001,2002,486,0,434,920,920,866,...,0,42,0,0,0,0,0,9,2008,223500
3,4,9550,1915,1970,216,0,540,756,961,756,...,0,35,272,0,0,0,0,2,2006,140000
4,5,14260,2000,2000,655,0,490,1145,1145,1053,...,192,84,0,0,0,0,0,12,2008,250000